body 
{
  margin:0px;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
  position:static;
  left:auto;
  width:533px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base 
{
  position:absolute;
  z-index:0;
}
#u0_text 
{
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:100px;
  word-wrap:break-word;
}
.u0_div 
{
  border-width:0px;
  position:absolute;
  left:260px;
  top:250px;
  width:104px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#003366;
}

#u11 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:296px;
  width:124px;
  height:36px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#990000;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-150px;
  width:124px;
  white-space:nowrap;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#990000;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:151px;
  width:300px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:90px;
  top:-10px;
  width:300px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:296px;
  width:124px;
  height:36px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#990000;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-100px;
  width:124px;
  white-space:nowrap;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#990000;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:427px;
  width:89px;
  height:33px;
}
#u10_input {
  position:absolute;
  left:-55px;
  top:-235px;
  width:167px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
.error
{ 
	border-width:0px;
	position:absolute;
	left:80px;
	top:105px;
	width:600px;
	white-space: nowrap;
    font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
    font-weight:700;
    font-style:normal;
    font-size:16px;
    color: #D8000C;
}
.error a
{ 
	color: #8a1f11; 
}
.img 
{
  width: 2%;
  height: auto;
}