body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:906px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}

.u79_div.disabled {
border-width:0px;
  position:absolute;
  left:130px;
  top:240px;
  width:77px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#003366;
  opacity: 0.65; 
  cursor: not-allowed;
}

#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:217px;
  width:150px;
  height:27px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:150px;
  white-space:nowrap;
}

#u49_div {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:166px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:217px;
  width:166px;
  height:21px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:90px;
  top:65px;
  width:166px;
  white-space:nowrap;
}

#u50
{
  border-width:0px;
  position:absolute;
  left:735px;
  top:159px;
  width:80px;
  height:27px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u50_div
{
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u50_text
{
  border-width:0px;
  position:absolute;
  left:-690px;
  top:470px;
  width:80px;
  word-wrap:break-word;
}
#u51
{
  border-width:0px;
  position:absolute;
  left:289px;
  top:420px;
  width:31px;
  height:21px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u51_div
{
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:31px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u51_text
{
  border-width:0px;
  position:absolute;
  left:35px;
  top:210px;
  width:65px;
  white-space:nowrap;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:159px;
  width:129px;
  height:22px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:330px;
  width:89px;
  height:27px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:89px;
  white-space:nowrap;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:386px;
  width:88px;
  height:22px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:88px;
  white-space:nowrap;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:440px;
  width:158px;
  height:27px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:158px;
  white-space:nowrap;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:274px;
  width:75px;
  height:27px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:75px;
  white-space:nowrap;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:217px;
  width:150px;
  height:27px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:159px;
  width:80px;
  height:27px;
  font-family:'Century Gothic Bold', 'Century Gothic Regular', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:-690px;
  top:410px;
  width:300px;
  word-wrap:break-word;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:159px;
  width:89px;
  height:21px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:45px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:442px;
  width:81px;
  height:16px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:45px;
  top:70px;
  width:81px;
  white-space:nowrap;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:166px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:217px;
  width:166px;
  height:21px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:159px;
  width:65px;
  height:21px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:-515px;
  top:410px;
  width:300px;
  word-wrap:break-word;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:37px;
  top:0px;
  width:37px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:274px;
  width:37px;
  height:21px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:70px;
  width:37px;
  white-space:nowrap;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:45px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:330px;
  width:55px;
  height:21px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:70px;
  width:55px;
  white-space:nowrap;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:386px;
  width:31px;
  height:21px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:35px;
  top:70px;
  width:31px;
  white-space:nowrap;
}
.u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#003366;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:512px;
  width:77px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#003366;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
.u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:77px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#003366;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:512px;
  width:77px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#003366;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:241px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:207px;
  width:484px;
  height:241px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#003366;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:23px;
  width:337px;
  height:58px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#003366;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:333px;
  word-wrap:break-word;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:45px;
  top:680px;
  width:500px;
  word-wrap:break-word;
}



.u79_div {
  border-width:0px;
  position:absolute;
  left:130px;
  top:240px;
  width:77px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#003366;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:512px;
  width:77px;
  height:40px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#003366;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  word-wrap:break-word;
}

