body {
  margin:0px;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
  position:static;
  left:auto;
  width:491px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u37
{
  border-width:0px;
  position:absolute;
  left:145px;
  top:263px;
  width:150px;
  height:21px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#990000;
}
#u37_div
{
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#990000;
}
#u38
{
  border-width:0px;
  position:absolute;
  left:378px;
  top:263px;
  width:112px;
  height:21px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u38_div
{
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u38_text
{
  border-width:0px;
  position:absolute;
  left:32px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#990000;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:93px;
  width:126px;
  height:21px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#990000;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#990000;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:148px;
  width:137px;
  height:21px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#990000;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#990000;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:263px;
  width:119px;
  height:21px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#990000;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:119px;
  white-space:nowrap;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:263px;
  width:112px;
  height:21px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:57px;
  width:112px;
  white-space:nowrap;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#990000;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:320px;
  width:131px;
  height:21px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#990000;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:131px;
  white-space:nowrap;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:324px;
  width:113px;
  height:21px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:55px;
  width:113px;
  white-space:nowrap;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#990000;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:377px;
  width:138px;
  height:21px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#990000;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:138px;
  white-space:nowrap;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:377px;
  width:31px;
  height:21px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:60px;
  width:31px;
  white-space:nowrap;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:93px;
  width:45px;
  height:21px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:151px;
  width:72px;
  height:21px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-10px;
  width:200px;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Italic', 'Arial';
}
#u49 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:438px;
  width:297px;
  height:29px;
  font-family:'Arial Italic', 'Arial';
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:297px;
  white-space:nowrap;
}
.u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#003366;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:509px;
  width:152px;
  height:40px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#003366;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  word-wrap:break-word;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#990000;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:205px;
  width:128px;
  height:21px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#990000;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:205px;
  width:72px;
  height:21px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
