body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:576px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Italic', 'Century Gothic';
  font-weight:400;
  font-style:italic;
  color:#003366;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:212px;
  width:375px;
  height:31px;
  font-family:'Century Gothic Italic', 'Century Gothic';
  font-weight:400;
  font-style:italic;
  color:#003366;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  white-space:nowrap;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-style:normal;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:276px;
  width:217px;
  height:40px;
  font-family:'Century Gothic Bold', 'Century Gothic';
  font-style:normal;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:213px;
  word-wrap:break-word;
}
